

html,body{ 
	vertical-align:baseline;
	background:transparent;
	overflow: hidden;
	}
body{   
	margin: 0; 
	line-height:1;
	}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
	font-family 'Futura BQ';
	src: local('Futura BQ');
	}

#HaqqHeader {
	font-family: Futura BQ;
	font-style: italic;	
	font-variant:all-petite-caps;
	color: white;
	position: absolute;
	width: 100%;
	margin-top: 3%;
	text-align: center;
	padding: auto;
	}

.heading {
	font-size: 150%;
}

#aboutMe:hover {
	


}	    

#aboutMe {
    font-size: 80%;
	text-decoration: none;
	-webkit-transition: font-size 2s;
	font-family: Futura BQ;
	margin: auto;
	position: relative;
	float: left;
	margin: 10% 0 0 10%;
		}

a {
 	text-decoration: none;
	color: white;
}

#Work {
	font-size: 80%;
	-webkit-transition: font-size 2s;
   	font-family: Futura BQ;
	position: relative;
   	float: right;
	margin: 10% 10% 0 0;
	}

#footy {
	width: 200px;
	height: 100px;
	position: absolute;
	bottom: -40px;
	left: 750px;
	}

#instaLogo, #gitLogo { 
	width: 2em;
	height: 2em;
}

#instaLogo:hover, #gitLogo:hover {
	width: 3em;
	height: 3em;
}

#logos {
	width: 100%;
	}

canvas{
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #22223B;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;	
}
