html, body {
    height: 100%;
    width: 100%;
    }

body {
    background: aliceblue;
    }

#menu {
    background: black;
    color: white;
    width: 120px;
    border-radius: 10px;
    position: absolute;
    margin: 300px 0px 0px 0px;    
    }

#pic1 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
    float: left;
     
    }

#pic2 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
     top: 60ex;
    }

#pic3 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
     top: 60ex;
     left: 2.5ex;
    }

#pic4 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
     top: 60ex;
     left: 5ex;
    }

#pic5 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
     float: right;
    
    }

