html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    }

body {
    background: aliceblue;
    }


#pic1 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
    float: left;
     
    }

#pic2 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
     top: 60ex;
    }

#pic3 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
     top: 60ex;
     left: 2.5ex;
    }

#pic4 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
     top: 60ex;
     left: 5ex;
    }

#pic5 {
     border: double black 8px;
     border-radius: 9px;
     position: relative;
     float: right;
    
    }

