html, body {
    height: 100%;
    width: 100%;
    }

body {
    background: aliceblue;
    }

#menu {
    background: black;
    color: white;
    width: 120px;
    border-radius: 10px;
    position: absolute;
    margin: 300px 0px 0px 0px;    
    }

#pic {
    height: 200px;
    }
#pics {
    position: relative;
    margin: 0px 0px 0px 300px;}
